*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(32, 29, 23);
}
/* header and nav style */
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #fd6e0a;
}
nav{
    display: flex; 
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
}